In [1]:
print("hello world")

hello world

In [3]:
print(17+12)

29

In [5]:
print("hay i am a good boy")

hay i am a good boy

In [8]:
print("""hay i am a good\n boy
and this boy is also a good boy""")

hay i am a good
 boy
and this boy is also a good boy

In [16]:
# hay soumya dont execute this line

In [19]:
# """write anything""" and '''write anything''' thise are use for multi line command in python

In [20]:
# escape sequence

In [23]:
print("Hay I am a \"good boy\" and he is \nalso a good boy")

Hay I am a "good boy" and he is
also a good boy

In [25]:
print("Hey", 6, 7, sep = "~")
print("Hey", 6, 7)

Hey~6~7
Hey 6 7

In [27]:
print("Hey", 6, 7, sep = "~", end = "009\")
print("oye Hey")

Hey~6~7009
oye Hey

In [3]:
a = 5
print(a)

5

In [4]:
b = 'soumya'
print(b)

soumya

In [6]:
print("the type of b is", type(b))

the type of b is <class 'str'>

In [8]:
print("the type of b is", type(a))

the type of b is <class 'int'>

In [11]:
d = complex(6,2)
print(d)
print("the type of b is", type(d))

(6+2j)
the type of b is <class 'complex'>

In [14]:
list1 = [8, 2.3,[-4,5],["apple", "banana"]]
print(list1)
list1[1] = 6
print(list1)
# list are mutable

[8, 2.3, [-4, 5], ['apple', 'banana']]
[8, 6, [-4, 5], ['apple', 'banana']]

In [19]:
tuple1 = (8, 2.3,[-4,5],("apple", "banana"))
print(tuple1)

(8, 2.3, [-4, 5], ('apple', 'banana'))

In [21]:
tuple1[1] = 24

TypeError: 'tuple' object does not support item assignment

In [21]:
dictionary1 = {"name" : "soumya", "age" : 20, "can vote" : True}
print(dictionary1)
for i in dictionary1:
    print(dictionary1[i])

{'name': 'soumya', 'age': 20, 'can vote': True}
soumya
20
True

In [27]:
print (dictionary1['age'])

20

In [31]:

for dic in list1:
    print(list1[dic])

IndexError: list index out of range

In [32]:
#operator in python

In [3]:
def calculator (a1,b1,c1) :
    a = float(a1)
    b= float(b1)
    operator = int(c1)
    if operator == 1:
        print("a + b = ", a+b)
    if operator == 2:
        print("a - b = ", a-b)
    if operator == 3:
        print("a * b = ", a*b)
    if operator == 4:
        print("a / b = ", a/b)
    if operator == 5:
        print("a // b = ", a//b)
    if operator == 6:
        print("a % b = ", a%b)

In [4]:
a = input("enter the value of a : ")
b = input("enter the value of b : ")
operator = input("""enter the operator numer
press 1 for addition
press 2 for subtracion
press 3 for multiplication
press 4 for divition
press 5 for divition with integer value
press 6 for calculating the remainder""")
calculator(a,b, operator)

enter the value of a : 4
enter the value of b : 5
enter the operator numer
press 1 for addition
press 2 for subtracion
press 3 for multiplication
press 4 for divition
press 5 for divition with integer value
press 6 for calculating the remainder2
a - b =  -1.0

In [1]:
def calculator (a1,b1,c1) :
    a = float(a1)
    b= float(b1)
    operator = int(c1)
    if operator == 1:
        print("a + b = ", a+b)
    if operator == 2:
        print("a - b = ", a-b)
    if operator == 3:
        print("a * b = ", a*b)
    if operator == 4:
        print("a / b = ", a/b)
    if operator == 5:
        print("a // b = ", a//b)
    if operator == 6:
        print("a % b = ", a%b)

a = input("enter the value of a : ")
b = input("enter the value of b : ")
operator = input("""enter the operator numer
press 1 for addition
press 2 for subtracion
press 3 for multiplication
press 4 for divition
press 5 for divition with integer value
press 6 for calculating the remainder""")
calculator(a,b, operator)

enter the value of a : 6
enter the value of b : 7
enter the operator numer
press 1 for addition
press 2 for subtracion
press 3 for multiplication
press 4 for divition
press 5 for divition with integer value
press 6 for calculating the remainder1
a + b =  13.0

In [15]:
a = '1'
b = "jit"
c = 1
print(int(a)+len(b))

4

In [16]:
#implicit type casting

c = 1.9
d = 8
print(c+d)

9.9

In [17]:
# Taking User Input in Python

In [35]:
a = int(input("enter the numer you got in english : "))
b = int(input("enter the numer you got in bengali : "))
sum = int((a+b)/2)
print("sum = ", sum)

enter the numer you got in english : 134
enter the numer you got in bengali : 136
sum =  135

In [ ]:
# Strings in Python

In [8]:
name = "Soumya"
friend = 'Rohan'
anotherFfriend = "Lovish"
print("Hello you called as \"coder\" " + name)
print("Hello you called as 'doner' " + friend)

Hello you called as "coder" Soumya
Hello you called as 'doner' Rohan

In [10]:
h = """hay
how are 
you"""
print(h)

hay
how are
you

In [11]:
print(name[0])

S

In [12]:
for i in name:
    print(i)

S
o
u
m
y
a

In [15]:
list = [1,3,4, ("apple", "banana")]
for i in list:
    print(i)

1
3
4
('apple', 'banana')

In [28]:
name = "harry,shubham"
print(name[0:6])
print(len(name))

harry,
13

In [42]:
fruit = "mango"
mangolen = len(fruit)
print(mangolen)
print(fruit[0:4])
print(fruit[1:4])
print(fruit[:4])
print(fruit[0:])
print(fruit[:])
print(fruit[0:-3]) # print(fruit[0:len(fruit)-3])
print(fruit[0:len(fruit)-3])
print(fruit[-1:])
print(fruit[-3:-1]) # print(fruit[len(fruit)-3]: len(fruit)-1])

5
mang
ang
mang
mango
mango
ma
ma
o
ng

In [43]:
name = "harry"
print(name[-4:-2])

ar

In [2]:
# String Methods in Python

In [6]:
a = "Harry"
print(len(a))
print(a.upper())
print(a)
print(a.lower())

5
HARRY
Harry
harry

In [7]:
a = "Harry!!!!!!!!!!"
print(len(a))
print(a.upper())
print(a)
print(a.lower())
print(a.rstrip("!"))

15
HARRY!!!!!!!!!!
Harry!!!!!!!!!!
harry!!!!!!!!!!
Harry

In [13]:
a = "Harry!!!!!!!!!! Harry"
print(len(a))
print(a.upper())
print(a)
print(a.lower())
print(a.replace("Harry", "John"))
a = "Harry!!!!!Harry!!!!! Harry"
print(a.split("!"))

21
HARRY!!!!!!!!!! HARRY
Harry!!!!!!!!!! Harry
harry!!!!!!!!!! harry
John!!!!!!!!!! John
['Harry', '', '', '', '', 'Harry', '', '', '', '', ' Harry']

In [15]:
blogHeading = "introductin to js. asd ss"
print(blogHeading.capitalize())

Introductin to js. asd ss

In [20]:
str = "I am moving towards center"
print(str.center(100))
print(str.count("o"))

                                     I am moving towards center
2

In [21]:
str1 = "Welcome to the console !!!"
print(str1.endswith("!!!"))

True

In [22]:
str1 = "Welcome to the console !!!"
print(str1.endswith("to", 4,10))

True

In [24]:
str1 = "Welcome to the console !!!"
print(str1.find("the"))
print(str1.find("pi"))

11
-1

In [28]:
str1 = "welcometo the conshole"
print(str1.isalnum())
str1 = "welcometotheconshole"
print(str1.isalnum())

False
True

In [32]:
str1 = "welcometotheconshole"
print(str1.isalpha())
str1 = "welcometo1230theconshole"
print(str1.isalpha())

True
False

In [34]:
str1 = "welcometotheconshole"
print(str1.islower())
str1 = "welcometothecTREonshole"
print(str1.islower())

True
False

In [36]:
str1 = "welcometotheconshole"
print(str1.isprintable())
str1 = "welcometoth\neconshole"
print(str1.isprintable())

True
False

In [41]:
str1 = "welcometotheconshole"
print(str1.isspace())
str1 = "            welcom           etotheconshole"
print(str1.isspace())
str1 = "            "
print(str1.isspace())

False
False
True

In [46]:
str1 = "welcom etotheconshole"
print(str1.istitle())
str1 = "Aelcom etotheconshole"
print(str1.istitle())

False
False

In [2]:
# If Else Conditional Statements in Python

In [8]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
hour_time = time.strftime('%H')
print(hour_time)
minit_time = time.strftime('%M')
print(minit_time)
second_time = time.strftime('%S')
print(second_time)

18:47:31
18
47
31

In [ ]:
import time
t = time.localtime()

hour = input("enter the hour : ")
minit = input("enter the minit : ")
second = input("enter the second : ")

In [ ]:
import time

t = time.localtime()
print(t)
current_time = time.strftime("%H:%M:%S", t)
print(current_time)

In [1]:
# good morning , good afternoon .... program
import time 
present_time = time.localtime()
print("present time is ", present_time.tm_hour, ":", present_time.tm_min )
if(present_time.tm_hour>6 and present_time.tm_hour <= 12):
    print("Good morning !!")
elif(present_time.tm_hour>12 and present_time.tm_hour <= 14):
    print("Good noon !!")
elif(present_time.tm_hour>14 and present_time.tm_hour <= 18):
    print("Good afternoon !!")
elif(present_time.tm_hour>18 and present_time.tm_hour <= 21):
    print("Good evening !!")
elif(present_time.tm_hour>21 and present_time.tm_hour <=23 or present_time.tm_min <= 59):
    print("Good night !!")
else:
    print("please don't disturb me")

present time is  11 : 18
Good morning !!

In [6]:
# Match Case Statements in Python 
x = int(input("Enter the value of x : "))
match x:
    case 0:
        print("This is case 0")
    case 4:
        print("This is case 4")
    case 6:
        print("This is case 6")
    case _:
        print("This is case default")

SyntaxError: invalid syntax (1646382176.py, line 3)

In [9]:
# For Loops in Python
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range (1,10,2):
    print(i, end = "    ")

1    3    5    7    9

In [8]:
list = [ 1, "hi", 2.4, ["soumya", "jit"], {"name" : "soumya", "full_name" : "soumyajit"}]
for i in list:
    print(i)

1
hi
2.4
['soumya', 'jit']
{'name': 'soumya', 'full_name': 'soumyajit'}

In [27]:
list = [ 1, "hi", 2.4, ["soumya", "jit"], {"name" : "soumya", "full_name" : "soumyajit"}]

print(list[3])

['soumya', 'jit']

In [9]:
list = [ 1, "hi", 2.4, ["soumya", "jit"], {"name" : "soumya", "full_name" : "soumyajit"}]
for i in range(0, len(list),2):
    print(list[i])

1
2.4
{'name': 'soumya', 'full_name': 'soumyajit'}

In [10]:
# While Loops in Python 
i = 0
while (i < 3):
    print(i)
    i = i+1

0
1
2

In [16]:
count = 20
while count < 10 :
    print (count)
    count = count + 1
else:
    print("printing done")

printing done

In [21]:
# break and continue in Python
print("checking for break")
for i in range(10):
    print(i)
    if i == 5:
        break
print("checking for continue")
for j in range(5):
    if (j == 1):
        continue
    print(j)

checking for break
0
1
2
3
4
5
checking for continue
0
2
3
4

In [ ]:
# there is no exixtence of do while lop in python  lets try to 
# make do while loop by our own
i = 0
while True:
    print(i)
    i = i+1
    if i % 10 == 0 :
        break

In [8]:
# Functions in Python
def checkVoter(age):
    if age >= 18 :
        print("You can vote now")
    else:
        print("you can't vote now")
writeAge = int(input("enter the candidate age : "))
def checkEducation(age):
    pass
checkVoter(writeAge)
checkEducation(age)

enter the candidate age : 23
You can vote now

NameError: name 'age' is not defined

In [9]:
# Function Arguments in Python
def function_argument_passing_as_tuple(*numbers):
    for i in numbers:
        print(i)
function_argument_passing_as_tuple(2,{12,23}, "Anuj")

2
{12, 23}
Anuj

In [20]:
def function_argument_dictionary(**numbers):
    print(numbers["numxax"] ,numbers["number_list"], numbers["name"] )
function_argument_dictionary(numxax = "vvhvgv",number_list="kms", name ="Anuj")

vvhvgv kms Anuj

In [3]:
# Introduction to Lists in Python 
marks = [3,5,6]
print (marks)
print(type(marks))
print(marks[0])

[3, 5, 6]
<class 'list'>
3

In [13]:
marks = [3,5,6,"harry", True]
print (marks)
print(type(marks))
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])
print(marks[4])
print(marks[-3])
if 5 in marks:
    print("yes")
else:
    print("no")

[3, 5, 6, 'harry', True]
<class 'list'>
3
5
6
harry
True
6
yes

In [14]:
if "sou" in "soumya":
    print("yes")

yes

In [40]:
marks = [3,5,6,"harry", True]
for i in marks:
    print(i, end = " ")
print("\n")
print(marks)
print(marks[:])
print(marks[2:])
print(marks[1:-1])#1:4
print(marks[1:4:2])

3 5 6 harry True

[3, 5, 6, 'harry', True]
[3, 5, 6, 'harry', True]
[6, 'harry', True]
[5, 6, 'harry']
[5, 'harry']

In [44]:
lst1 = [i for i in range(4)]
print(lst1)
lst2 = [i*i for i in range(4)]
print(lst2)
lst3 = [i for i in range(10) if i%2 ==0]
print(lst3)

[0, 1, 2, 3]
[0, 1, 4, 9]
[0, 2, 4, 6, 8]

In [57]:
l = [13,2,24,6,2,2]
print(l)
l.append(7)
print(l)
l.sort()
print(l)
l.sort(reverse = True)
print(l)
print(l.index(6))
print(l.count(2))
m = l.copy()
m[1] = 7
print(l)
print(m)

[13, 2, 24, 6, 2, 2]
[13, 2, 24, 6, 2, 2, 7]
[2, 2, 2, 6, 7, 13, 24]
[24, 13, 7, 6, 2, 2, 2]
3
3
[24, 13, 7, 6, 2, 2, 2]
[24, 7, 7, 6, 2, 2, 2]

In [58]:
l = [13,2,24,6,2,2]
l.insert(1,899)
print(l)

[13, 899, 2, 24, 6, 2, 2]

In [59]:
l = [900,1000,1100]
l.extend(m)
print(l)

[900, 1000, 1100, 24, 7, 7, 6, 2, 2, 2]

In [60]:
m = [900,1000,1100]
k = l+m
print(k)

[900, 1000, 1100, 24, 7, 7, 6, 2, 2, 2, 900, 1000, 1100]

In [66]:
# Tuples in Python

tup1 = (1,5,6)
print(type(tup1))
print(type(tup1), tup1)
tup2 = (1)
print(type(tup2), tup2) #in this case we will se the output as integer type
#for solving this problem and considering tup2 with singel element as tuple
# we need to use , ater the element
tup3 = (1,)
print(type(tup3), tup3)

<class 'tuple'>
<class 'tuple'> (1, 5, 6)
<class 'int'> 1
<class 'tuple'> (1,)

In [67]:
tup4 = (1,5,6)
tup4[1] = 45

TypeError: 'tuple' object does not support item assignment

In [74]:
tup = (1,2,76,342,32,"green",True)
print(type(tup), tup)
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])
print(tup[4])
print(tup[5])
print(tup[6])
print(tup[7])

<class 'tuple'> (1, 2, 76, 342, 32, 'green', True)
1
2
76
342
32
green
True

IndexError: tuple index out of range

In [75]:
tup = (1,2,76,342,32,"green",True)
if 342 in tup:
    print("342 exist")

342 exist

In [79]:
tup = (1,2,76,342,32,"green",True)
print(tup[1:5:2])
tup2 = tup[1:4]
print(tup2)
print(tup)

(2, 342)
(2, 76, 342)
(1, 2, 76, 342, 32, 'green', True)

In [8]:
# Operations on Tuples in Python
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
print("countries : ", countries)
print("temp : ",temp)
temp.append("Russia")
print("After append, temp : ",temp)
temp[2] = "Finland"
print("Now after changineg some element in temp , temp : ",temp)
countries = tuple(temp)
print("now countries : ", countries)

countries :  ('Spain', 'Italy', 'India', 'England', 'Germany')
temp :  ['Spain', 'Italy', 'India', 'England', 'Germany']
After append, temp :  ['Spain', 'Italy', 'India', 'England', 'Germany', 'Russia']
Now after changineg some element in temp , temp :  ['Spain', 'Italy', 'Finland', 'England', 'Germany', 'Russia']
now countries :  ('Spain', 'Italy', 'Finland', 'England', 'Germany', 'Russia')

In [10]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
tuple1 = (1, 2, 3, 4, 5, 6, 7,1 ,2 ,3 ,2 , 4 ,2 )
print(tuple1.count(3))

2

In [13]:
tuple1 = (1, 2, 3, 4, 5, 6, 7,1 ,2 ,3 ,2 , 4 ,2 )
print(tuple1.index(3))

2

In [16]:
tuple1 = (1, 2, 3, 4, 5, 6, 7,1 ,2 ,3 ,2 , 4 ,2 )
print(tuple1.index(3,4,10 ))

9

In [2]:
for list in range(10):
    print(list)

0
1
2
3
4
5
6
7
8
9

In [2]:
# Kaun Banega Carorepati(KBC)
def doQuestion(highest_lavel):
    lavel = 0
    rightAnswer = True
    listOfQuestions = ["Who is known as the 'Father of the Nation' in India?",
                       "Which planet is known as the Red Planet'?",
                      "Who is the author of the Harry Potter book series?",
                      "Which country is famous for the Eiffel Tower?",
                      "Who painted the Mona Lisa?",
                       "Which sport is played at Wimbledon?",
                       "What is the chemical symbol for gold?",
                      "Who wrote the play 'Romeo and Juliet'?",
                      "Which planet is the largest in our solar system?",
                       "What is the national animal of India?"
                      ]
    listOfAnswer = ["Mahatma Gandhi","Mars","J.K. Rowling","France",
                    "Leonardo da Vinci","Tennis", "Au", "William Shakespeare",
                   "Jupiter", "Bengal Tiger"]
    for i in range(highest_lavel):
        print(listOfQuestions[i])
        answer = input("write your answer : ")
        if answer == listOfAnswer[i] :
            lavel = lavel + 1
        else:
            rightAnswer = False
            break
    if rightAnswer == True:
        print("You are now a crorepati !!")
    else: 
        print("You lost the game !!")
def questions(question_number):
    no = question_number
    match(no):
        case 4:
                doQuestion(no)
        case 7:
                doQuestion(no)
        case 10:
                doQuestion(no)
        case _:
            print("You are not eligible to play KBC")
            
numerOfQuestions = 0
play_for_amount = int(input("enter for now much amount you are playing : "))
if play_for_amount > 5000000 and play_for_amount <= 10000000:
    questions(4)
elif play_for_amount > 10000000 and play_for_amount <= 50000000:
    questions(7)
elif play_for_amoun > 50000000 :
    questions(10)
else : 
    print("keep suporting KBC")

SyntaxError: invalid syntax (1368445870.py, line 33)

In [7]:
# f-strings in Python
# letter = ("Hey my name is {1} and I am from {0}")
# print(letter.format(country, name)) #OLD METHOD
country = "India"
name = "Soumya"
print(f"Hey my name is {name} and I am from {country}")

Hey my name is Soumya and I am from India

In [10]:
txt = "For only {price: .2f} dollars!"
print(txt.format(price = 49.09999))

For only  49.10 dollars!

In [11]:
price = 49.09999
txt = f"For only {price: .2f} dollars!"
print(txt)

For only  49.10 dollars!

In [13]:
print(f"{2*30}")
print(type(f"{2*30}"))

60
<class 'str'>

In [2]:
# Docstrings in Python
def square(n):
    '''Takes is a number n, return the square of n'''#doc string comes just after the function
    print(n**2)
square(5)
print(square.__doc__)

25
Takes is a number n, return the square of n

In [3]:
def square(n):
    print(n)
    '''Takes is a number n, return the square of n'''#doc string comes just after the function
    print(n**2)
square(5)
print(square.__doc__)

5
25
None

In [4]:
 #PEP 8 ----> python enhancement proposal

In [5]:
# Recursion in Python
#factorial
def fac(n):
    if (n == 1 or n==0):
        return 1
    return n * fac(n-1)
print(fac(5))

120

In [9]:
#fibonachi
def fibonacci(n):
    if(n <= 1):
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Enter number of terms:5
Fibonacci sequence:
0
1
1
2
3

In [8]:
# Sets in Python
s ={7,2,4,2,6}
print(s)
# s.append(65) this can not be done because set are emutable
#set done maintain order and all values of set are unique
name = {}
print(type(name)) #this is type dictionary
name = set()
print(type(name))

{2, 4, 6, 7}
<class 'dict'>
<class 'set'>

In [10]:
for i in s:
    print(i)

2
4
6
7

In [6]:
s1 = {1,2,5,6}
s2 = {3,6,7}
print(s1.union(s2))
print(s1,s2)
s1.update(s2)
print(s1)

{1, 2, 3, 5, 6, 7}
{1, 2, 5, 6} {3, 6, 7}
{1, 2, 3, 5, 6, 7}

In [9]:
s1 = {1,2,5,6}
s2 = {3,6,7}
s3 = s1.symmetric_difference(s2)
print(s3)
s4 = s1.difference(s2)
print(s4)

{1, 2, 3, 5, 7}
{1, 2, 5}

In [1]:
# Dictionaries in Python
dic = {
    "Harry": "Human being",
    "Spoon": "Object",
    23:"hi"
}
print(dic["Harry"])
print(dic[23])

Human being
hi

In [2]:
print(dic.keys())

dict_keys(['Harry', 'Spoon', 23])

In [5]:
for key in dic.keys():
    print(dic[key] , key)

Human being Harry
Object Spoon
hi 23

In [6]:
print(dic.values())

dict_values(['Human being', 'Object', 'hi'])

In [8]:
for key in dic.keys():
    print(key, dic[key])

Harry Human being
Spoon Object
23 hi

In [10]:
print(dic.items())

dict_items([('Harry', 'Human being'), ('Spoon', 'Object'), (23, 'hi')])

In [13]:
for key, values in dic.items():
    print(f"The value corresponding to the key {key} is {values}")

The value corresponding to the key Harry is Human being
The value corresponding to the key Spoon is Object
The value corresponding to the key 23 is hi

In [16]:
# Dictionary Methods in Python
ep1 = {122 : 45, 123:89, 567:69,670:69}
ep2 = {122 : 67, 566 : 90}
ep1.update(ep2)
print(ep1)
ep1.clear()
print(ep1)

{122: 67, 123: 89, 567: 69, 670: 69, 566: 90}
{}

In [17]:
empt ={}
print(empt)

{}

In [18]:
ep1 = {122 : 45, 123:89, 567:69,670:69}
ep1.pop(122)
print(ep1)

{123: 89, 567: 69, 670: 69}

In [1]:
# for Loop with else in Python
for i in []:
    print(i)
else:
    print("sorry no i")

sorry no i

In [3]:
for i in range(6):
    print(i)
    if i == 4:
        break
else:
    print("sorry no i")

0
1
2
3
4

In [4]:
i = 0
while i < 7:
    print(i)
    i = i+1
else:
    print("sorry no i")

0
1
2
3
4
5
6
sorry no i

In [18]:
# Exception Handling in Python
a = input("Enter your name : ")
print(f"Multiplication table of {a} is : ")
try:
    for i in range(1, 11):
        print(f"{int(a)} x {i} = {int(a) * i}")
except Exception as e:
    print(e)
    print("Invalid input")
print("Some importent lines of code")
print("End of program")

Enter your name : defef
Multiplication table of defef is :
invalid literal for int() with base 10: 'defef'
Invalid input
Some importent lines of code
End of program

In [25]:
try:
    num = int(input("Enter an integer"))
except ValueError:
    pass
print("alive")

Enter an integerdx
alive

In [28]:
try:
    a = [2,5]
    print(a[3])
except IndexError:
    print(IndexError)

<class 'IndexError'>

In [31]:
# Finally keyword in Python
try:
    l = [1, 5, 6 ,7]
    i = int(input("Enter the index : "))
    print(l[i])
except:
    print("Some error occurred")
finally:
    print("I am always excuted")

Enter the index : dsdsd
Some error occurred
I am always excuted

In [3]:
def func1():
    try:
        l = [1, 5, 6 ,7]
        i = int(input("Enter the index : "))
        print(l[i])
        return 1
    except:
        print("Some error occurred")
        return 0
    print("I am always excuted")
x = func1()
print(x)

Enter the index : gff
Some error occurred
0

In [6]:
def func1():
    try:
        l = [1, 5, 6 ,7]
        i = int(input("Enter the index : "))
        print(l[i])
        return 1
    except:
        print("Some error occurred")
        return 0
    finally:
        print("I am always excuted")
x = func1()
print(x)

Enter the index : 2
6
I am always excuted
1

In [1]:
# Raising custom errors in Python
a = int(input("Enter any value between 5 and 9 : "))
if(a<5 or a>9):
    raise ValueError("value should be between 5 and 9")

Enter any value between 5 and 9 : 67

ValueError: value should be between 5 and 9

In [10]:
a = input("Enter wuit : ")
if((a != "quit") or (a != "Quit")):
    raise ValueError("This is not Quit")

Enter wuit : quit

ValueError: This is not Quit

In [1]:
import random
def SecretCodeLanguageGenerator(data):
    #list convertion    
    li = []
    d = data
    if(len(d) <= 2):
        li = "".join(reversed(d)) #reverse
        print("Secrete code is : ",li)
    #end of list convertion
    else:
        for i in d :
            li += d
            break
        for i in range (1,len(li)):
            li[0] = li[0] + li[i]
        li = li[0]
        # l1 = "".join(reversed(d))
        # print(li[0])
        li = li+ li[0]
        # print(li)
        liNew = li[1:]
        # print(liNew)
        random_string= []
        for i in range(3):
            random_character = chr(random.randint(33, 126))
            random_string += random_character
        # print(random_string)
        for i in range (1,len(random_string)):
            random_string[0] = random_string[0] + random_string[i]
        random_string = random_string[0]
        # print(random_string)
        new_code = liNew+random_string
        print("Secrete code is : ",new_code)
        
data = input("write the actual data : ")
SecretCodeLanguageGenerator(data)

write the actual data : aasa asaaxw
Secrete code is :  asa asaaxwah2x

In [11]:
# Short hand if else statements
a = 10
print("its greter than or equal to 10") if a >=10 else  print(8) if (a ==8)  else  ("less than 10")

its greter than or equal to 10

In [1]:
# Virtual Environment in Python
import pandas as pd
print(pd.__version__)

1.4.4

In [6]:
# How import works in Python
import pandas
pandas.read_csv(r"C:\Users\Soumyajit\OneDrive\Desktop\aiml\book_data.csv")

,Title,Price,Rating,Availability
0,A Light in the Attic,£51.77,Three,In stock
1,Tipping the Velvet,£53.74,One,In stock
2,Soumission,£50.10,One,In stock
3,Sharp Objects,£47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,£54.23,Five,In stock
5,The Requiem Red,£22.65,One,In stock
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,Four,In stock
7,The Coming Woman: A Novel Based on the Life of...,£17.93,Three,In stock
8,The Boys in the Boat: Nine Americans and Their...,£22.60,Four,In stock
9,The Black Maria,£52.15,One,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,Two,In stock
11,Shakespeare's Sonnets,£20.66,Four,In stock
12,Set Me Free,£17.46,Five,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,Five,In stock
14,Rip it Up and Start Again,£35.02,Five,In stock
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,Three,In stock
16,Olio,£23.88,One,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,One,In stock
18,Libertarianism for Beginners,£51.33,Two,In stock
19,It's Only the Himalayas,£45.17,Two,In stock

In [7]:
import math
math.floor(4.2346)

4

In [10]:
from math import sqrt, pi
print(pi)

3.141592653589793

In [13]:
from math import *
print(sqrt(9))

3.0

In [20]:
from math import pi, sqrt as s
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [23]:
import math
print(dir (math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [24]:
print(math.tau, type(math.tau))

6.283185307179586 <class 'float'>

In [3]:
def welcome():
    print("hey welcome")

In [6]:
# Local vs Global Variables in Python
x = 4
y = 8
print(x)
print(y)
def hello():
    x = 5
    global y
    print(y)
    print(x)
    y = y+10

hello()
print(y)

4
8
8
5
18

In [4]:
# File IO in Python
f = open(r'C:\Users\Soumyajit\OneDrive\Desktop\aiml\__pycache__\demofile.txt')

In [5]:
print(dir (open))

['__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__self__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__text_signature__']

In [4]:
# Lambda functions in Python
def double(x):
    return x*2

def appl(fx, value):
    return 6 + fx(value)

double = lambda x: x * 2

cube = lambda x : x*x*x



print(double(5))
print(cube(5))
print(appl(lambda x : x*x,2))

10
125
10

In [ ]:
# Map, Filter and Reduce in Python
 def cube(x)

In [10]:
# 'is' vs '==' in Python 
a = 4
b = "4"
print(a is b)# exact location of object in memory
print(a == b)# value

False
False

In [12]:
a = [1,2,43]
b = [1,2,43]

print(a is b)
print(a == b)

False
True

In [13]:
a = 3
b = 3
print(a is b)
print(a == b)

True
True

In [15]:
a = "harry"
b = "harry"

print(a is b)
print(a == b)

True
True

In [19]:
a = (1, 2)
b = (1, 2)
print(a is b)
print(a == b)

False
True

In [21]:
a = None
b = None
print(a is b)
print(a == b)
print(a is None)

True
True
True

In [ ]:
#  Snake Water Gun

In [8]:
# Classes and Objects in Python 
class person:
    name = "harry"
    occupation = "software developer"
    networth = 10

a = person()
print(a.name)

a = person()
a.name = "shubham"
a.occupation = "accountant"

print(a.name, a.occupation)

harry
shubham accountant

In [11]:
class person:
    name = "harry"
    occupation = "software developer"
    networth = 10
    def info(self):
        print(f"{self.name} is a {self.occupation}")

a = person()
a.info()

harry is a software developer

In [16]:
class person:
    name = "harry"
    occupation = "software developer"
    networth = 10
    def info(self):
        print(f"{self.name} is a {self.occupation}")

a = person()
b = person()
c = person()
a.name = "Shubham"
a.occupation = "Accountant"
a.info()

a.name = "Shio"
a.occupation = "Develper"
a.info()
c.info()

Shubham is a Accountant
Shio is a Develper
harry is a software developer

In [27]:
# Constructors in Python
class person:
    def __init__(self, n , o):
        self.name = n
        self.occ = o
        print(f"Hey I am a {self.name}, im a  {self.occ}")
#     name = "Harry"
#     occ = "Developer"
    
    def info(self):
        print(f"{self.name} is a {self.occ}")

a = person("Harry", "DEveloper")
b = person("Divya", "HR")
# print(a.name)
# a.name = "Divya"
# a.occ ="HR"
# a.info()

Hey I am a Harry, im a  DEveloper
Hey I am a Divya, im a  HR

In [29]:
# Decorators in Python
def greet(fx):
    def mfx():
        print("Good morning")
        fx()
        print("Thanks for using this function")
    return mfx
@greet
def hello():
    print("Hello world")
    
def add(a, b):
    print(a+b)
    
hello()

Good morning
Hello world
Thanks for using this function

In [33]:
def greet(fx):
    def mfx(*args, **kwargs):
        print("Good morning")
        fx(*args, **kwargs)
        print("Thanks for using this function")
    return mfx
def hello():
    print("Hello world")
    
def add(a, b):
    print(a+b)
    
greet(add)(1,2)

Good morning
3
Thanks for using this function

In [37]:
def greet(fx):
    def mfx(*args, **kwargs):
        print("Good morning")
        fx(*args, **kwargs)
        print("Thanks for using this function")
    return mfx
@greet
def add(a, b):
    print(a+b)
def hello():
    print("Hello world")
# greet(add)(1,2)
add(1,2)

Good morning
3
Thanks for using this function

In [40]:
# Getters and Setters in Python
class MyClass:
    def __init__(self, value):
        self._value = value
    def show(self):
        print(f"value is {self._value}")
        
    @property
    def ten_value(self):
        return 10 * self._value
    
    @ten_value.setter
    def ten_value(self, new_value):
        self._value = new_value/10
obj = MyClass(10)
obj.ten_value = 67
print(obj.ten_value)
obj.show()

67.0
value is 6.7

In [19]:
# Inheritance in Python
class Employee:
    def __init__(self, name, id):
        self.name = name
        self.id = id
    def showdetails(self):
        print(f"I am {self.name} my employee id is {self.id}")
class Developer(Employee):
    def details(self):
        self.qualification = "B.tech"
        print("i am specifically a software developer")
a = Employee("Rohan Sadhuka", 123)
a.showdetails()
b = Developer("Riya Ghosh", 2345)
b.showdetails()
b.details()
print(b.qualification)

I am Rohan Sadhuka my employee id is 123
I am Riya Ghosh my employee id is 2345
i am specifically a software developer
B.tech

In [23]:
# Library Management System in Python
class Library:
    def __init__(self, books, number_of_books):
        self.books = books
        self.number_of_books = number_of_books
    def inside_library(self):
        self.number_of_books = number_of_books + self.number_of_books
        print(f"{self.number_of_books} new book added and the books are {self.books}")

        return self.number_of_books
books_list = ["asd", "aasdf"]
books_list_size = len(books_list)
number_of_books = 0
a = Library(books_list,books_list_size )
total_books = a.inside_library()
temp = total_books
books_list2 = ["sddvd", "ppsdf", "gfds"]
books_list_size2 = len(books_list2)
b = Library(books_list+books_list2,books_list_size2 )
totalfinal_books = temp + b.inside_library()
print("total books in the library = ", totalfinal_books)

2 new book added and the books are ['asd', 'aasdf']
3 new book added and the books are ['asd', 'aasdf', 'sddvd', 'ppsdf', 'gfds']
total books in the library =  5

In [ ]:
# Static Methods in Python

In [10]:
# Instance variables vs Class variables in Python
class company:
    total_employ = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        company.total_employ = company.total_employ + 1
    def details(self):
        print(f"Employ name is {self.name} and age is = {self.age}")
e1 = company("Rohit", 34)
print(e1.name)
# print(e1.total_employ)
e1 = company("Bihit", 24)
print(e1.name)
print(e1.total_employ)
e1 = company("Mohit", 51)
print(e1.name)
print(e1.total_employ)

Rohit
Bihit
2
Mohit
3

In [4]:
# Class Methods as Alternative Constructors in Python
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
e1 = Employee("Harry", 12000)
print(e1.name)
print(e1.salary)
string = "Harry-12000"
e2 = Employee(string.split("-")[0],string.split("-")[1])
print(e2.name)
print(e.salary)

Harry
12000
Harry
12000

In [11]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    @classmethod
    def fromStr(cls, string):
        return cls(string.split("-")[0],int(string.split("-")[1]))
        
e1 = Employee("Harry", 12000)
print(e1.name)
print(e1.salary)
string = "Harry-12000"
e2 = Employee.fromStr(string)
print(e2.name)
print(e2.salary)
print(2*e2.salary)

Harry
12000
Harry
12000
24000

In [17]:
# dir, __dict__ and help method in Python
x = [1,2,3]
print(dir(x))
print(x.__add__)

y = (1,2,3)
print(dir(y))
print(y.__add__)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<method-wrapper '__add__' of list object at 0x0000018AD30FB1C0>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
<method-wrapper '__add__' of tuple object at 0x0000018AD2C74CC0>

In [21]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.version = 1
p = person("john", 30)
print(p.__dict__)

print(help(str))
print(help(person))

{'name': 'john', 'age': 30, 'version': 1}
Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None
Help on class person in module __main__:

class person(builtins.object)
 |  person(name, age)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [1]:
# super keyword in Python

In [6]:
# Magic/Dunder Methods in Python
class Employee:
    name = "Harry"
    def __len__(self):
        i = 0
        for c in self.name:
            i = i + 1
        return i
    
e = Employee()
print(e.name)
print(len(e))

Harry
5

In [3]:
class Employee:
    name = "Harry"
    def __len__(self):
        i = 0
        for c in self.name:
            i = i + 1
        return i
    
e = Employee()
print(e.name)
print(len(e))

Harry
5

In [9]:
# Method Overriding in Python
class Shape:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def area(self):
        return self.x * self.y
class Circle(Shape):
    def __init__(self, radious):
        self.radious = radious
    def area(self):
        return 3.14 * self.radious
rec = Shape(3, 5)
print(rec.area())

c = Circle(5)
print(c.area())

15
15.700000000000001

In [14]:
# Operator Overloading in Python
class Vector:
    def __init__(self, i, j, k):
        self.i = i 
        self.j = j
        self.k = k
    def __str__(self): 
        return f"{self.i}i + {self.j}j + {self.k}k"
    
    def __add__(self, x):
        return Vector(self.i + x.i , self.j + x.j , self.k + x.k)
v1 = Vector(3, 5, 6)    
print(v1)

v2 = Vector(1, 2, 9)    
print(v2) 

print(v1+v2)
print(type(v1+v2))

3i + 5j + 6k
1i + 2j + 9k
4i + 7j + 15k
<class '__main__.Vector'>

In [9]:
class Animal:
    def __init__(self, animal):
        self.animal = animal
        print("Animals are like to live in the jungle")
    def legs(self):
        print(f"{self.animal} eat fruits")
class Cat(Animal):
    def __init__(self, animal, number):
        self.animal = animal
        self.number = number
    def description(self):
        print(f"I can see {self.number} {self.animal} beside my house")
a = Animal("Tiger")
a.legs()
c = Cat("cat", 10)
c.description()
c.legs()

Animals are like to live in the jungle
Tiger eat fruits
I can see 10 cat beside my house
cat eat fruits

In [18]:
class Youtuber:
    def __init__(self, name):
        self.name = name
    def profession(self):
        print(f"{self.name} is a youtuber")
    def editing(self):
        print("he knows good editing")
class Engineer:
    def __init__(self, name):
        self.name = name
    def profession(self):
        print(f"{self.name} is an engineer")
    def technology(self):
        print("he has knowledge about technology")
class YoutuberEngineer(Youtuber,Engineer):
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def description(self):
        print(f"the person {self.name} is {self.age} years old")
ye = YoutuberEngineer("Rohan", 27)
ye.description()
ye.profession()
print(YoutuberEngineer.mro())

the person Rohan is 27 years old
Rohan is a youtuber
[<class '__main__.YoutuberEngineer'>, <class '__main__.Youtuber'>, <class '__main__.Engineer'>, <class 'object'>]

In [35]:
class Generation1:
    def __init__(self, name, familyname):
        self.familyname = familyname
        self.name = name
    def aboutfamily(self):
        print(f"{self.name} belongs to {self.familyname} family")
class Generation2(Generation1):
    def __init__(self, occupation):
        self.occupation = occupation
        Generation1.__init__(self, "Ashit", "Ghosh")
    def aboutwork(self):
        print(f"he do {self.occupation}")
        Generation1.aboutfamily(self)
class Generation3(Generation2):
    def __init__(self, averageage):
        self.averageage = averageage
        Generation2.__init__(self,"Teaching")
    def aboutage(self):
        print(f"most of the person in the family is of {self.averageage} years old")
        Generation2.aboutwork(self)
g3 = Generation3(30)
g3.aboutage()

most of the person in the family is of 30 years old
he do Teaching
Ashit belongs to Ghosh family

In [26]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species
        
    def show_details(self):
        print(f"Name: {self.name}")
        print(f"Species: {self.species}")
        
class Dog(Animal):
    def __init__(self, name, breed):
        Animal.__init__(self, name, species="Dog")
        self.breed = breed
        
    def show_details(self):
        Animal.show_details(self)
        print(f"Breed: {self.breed}")
        
class GoldenRetriever(Dog):
    def __init__(self, name, color):
        Dog.__init__(self, name, breed="Golden Retriever")
        self.color = color
        
    def show_details(self):
        Dog.show_details(self)
        print(f"Color: {self.color}")

o = Dog("tommy", "Black")
o.show_details()
print(GoldenRetriever.mro())

Name: tommy
Species: Dog
Breed: Black
[<class '__main__.GoldenRetriever'>, <class '__main__.Dog'>, <class '__main__.Animal'>, <class 'object'>]

In [1]:
# Time Module in Python 
def usingwhile():
    pass
def usingFor

In [3]:
# Walrus Operator in Python
a = True
print(a := False)

False

In [4]:
numbers = [1,2, 3, 4, 5]
while (n := len(numbers)) > 0:
    print(numbers.pop())

5
4
3
2
1

In [5]:
foods = list()
while(food := input("What food do you like?: ")) != "quit":
    foods.append(food)

What food do you like?: apple
What food do you like?: banana
What food do you like?: mango
What food do you like?: quit

In [8]:
# Shutil Module in Python
import shutil

In [2]:
# Regular Expressions in Python
import re
pattern = "was"
text = '''The sun's golden rays bathed the picturesque landscape in a 
warm glow, casting long shadows across the rolling hills. A gentle 
breeze rustled the leaves of the towering oak trees, creating a soothing 
melody in harmony with the chirping birds. Nature seemed to awaken with 
vibrant colors, as wildflowers bloomed in a riot of hues, painting the 
meadows with their delicate petals. A babbling brook meandered through the 
valley, its crystal-clear water glistening under the sunlight. In the 
distance, majestic mountains stood tall, their peaks crowned with snow 
that shimmered like diamonds. The air was filled with the earthy scent of 
freshly cut grass and the sweet fragrance of blossoming flowers. It was a 
scene of tranquility and serenity, where time seemed to slow down, allowing 
one to immerse themselves in the beauty of the natural world.''' 
match = re.search(pattern, text)
print(match)

<re.Match object; span=(605, 608), match='was'>